.home {
  /* The image used */
  background-color: black;
  margin-left: 60px;
  color: white;
  height: 100%;
padding-left: 50px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
